[Unit]
Description=swiftguard lite
After=network.target

[Service]
WorkingDirectory=/root
ExecStart=/usr/bin/python3 api-xray.py
Restart=always

[Install]
WantedBy=multi-user.target
